.result_info {
    background-color: rgba(245, 245, 247, 1);
    height: 100vh;
}

.close {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 16px;
    top: 16px;
    background-image: url('./images/Union\ .svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
}

.result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.result_level {
    position: relative;
    width: 240px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-image: url('./images/Rectangle\ 4.svg');

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.result_level::before {
    content: "";
    position: absolute;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    background-color: #d0d0d8;
    width: 100vw;
    z-index: -1;
}

.result_level:not(:last-child) {
    margin-bottom: 8px;
}

.result_passed {
    color: rgba(208, 208, 216, 1);
}

.result_current {
    background-image: url('./images/Current.svg');
    color: rgba(255, 139, 55, 1);
}

.result_current::before {
    content: "";
    position: absolute;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    background-color: #ff8b37;
    width: 100vw;
    z-index: -1;
}

@media(max-width:1279px) {
    .result_info {
        position: absolute;
        background-color: rgba(245, 245, 247, 1);
        height: 100vh;
        width: 100vw;
        top: 0;
        right: -100vw;
    }
}

@media(min-width:768px) {
    .close {
        width: 30px;
        height: 30px;
        background-size: contain;
        right: 26px;
        top: 26px;
    }

    .result_level {
        width: 300px;
        height: 40px;
        background-size: cover;

        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
    }
}