.background {
  position: relative;
  background-color: rgba(245, 245, 247, 1);
  height: 100vh;
}

.menu_button {
  position: absolute;
  top: 21px;
  right: 20px;
  width: 16px;
  height: 14px;
  background-color: transparent;
  border: none;
  outline: none;
  background-image: url("./images/Union.svg");
  background-repeat: no-repeat;
}

.question {
  position: absolute;
  width: 288px;
  height: 63px;
  left: 50%;
  transform: translateX(-50%);
  top: 136px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 116%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1c1c21;
}

.button_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  min-width: 320px;
  min-height: 248px;
  left: 50%;
  transform: translateX(-50%);
  top: 296px;
}

.choise_button {
  position: relative;
  text-align: left;
  padding-left: 24px;
  display: block;
  margin: 0 auto;
  height: 56px;
  width: 288px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url("./images/Inactive.svg");
  cursor: pointer;
}

.choise_button:not(:last-child) {
  margin-bottom: 8px;
}

.choise_button::before {
  content: "";
  position: absolute;
  height: 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #d0d0d8;
  width: 100vw;
  z-index: -1;
}

.choise_button:hover {
  background-image: url("./images/hover.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.choise_button:hover::before {
  background-color: rgba(255, 139, 55, 1);
}

.choise_letter {
  color: rgba(255, 139, 55, 1);
  margin-right: 8px;
}

.selected {
  background-image: url("./images/Selected.svg") !important;
}

.selected::before {
  background-color: #FF8B37;
}

.correct {
  background-image: url("./images/Correct.svg") !important;
}

.correct::before {
  background-color: #47D867 !important;
}

.wrong {
  background-image: url("./images/Wrong.svg") !important;
}

.wrong::before {
  background-color: #EC6259 !important;
}

@media(min-width:768px) {
  .menu_button {
    width: 30px;
    height: 30px;
    background-size: contain;
    right: 26px;
    top: 26px;
  }

  .question {
    font-weight: 600;
    font-size: 32px;
    width: 414px;
  }

  .choise_button {
    width: 391px;
    height: 76px;
    background-size: cover;

    font-weight: normal;
    font-size: 20px;
  }

  .choise_button:not(:last-child) {
    margin-bottom: 32px;
  }

  .choise_letter {
    font-weight: 600;
    font-size: 20px;
  }
}

@media(min-width:1280px) {
  .menu_button {
    display: none;
  }

  .background {
    width: 70vw;
  }

  .question {
    width: 624px;
    height: 74px;
    top: 133px;
    text-align: left;
  }

  .button_wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 828px;
    top: 60%;
  }

  .choise_button::before {
    width: 414px;
  }
}

/* ==============animation menu==================== */

.show {
  transform: translateX(-100vw);
}

/* ================resalt_level==================== */

.result_level {
  position: relative;
  width: 240px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background-image: url('../Menu/images/Rectangle\ 4.svg');

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.result_passed {
  position: relative;
  width: 240px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background-image: url('../Menu/images/Rectangle\ 4.svg') !important;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: rgba(208, 208, 216, 1) !important;
}

.result_passed::before {
  background-color: rgba(208, 208, 216, 1) !important;
}

.result_current {
  position: relative;
  width: 240px;
  height: 32px;
  text-align: center;
  line-height: 32px;


  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  background-image: url('../Menu/images/Current.svg') !important;
  color: rgba(255, 139, 55, 1);
}

.result_current::before {
  background-color: rgba(255, 139, 55, 1) !important;
}