.functional_button {
    position: absolute;
    top: 472px;
    left: 16px;

    width: 288px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 139, 55, 1);

    /* Mobile / Button */

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 116%;
    /* or 16px */
    color: rgba(255, 255, 255, 1);
    outline: none;
}