.functional_button {
    position: absolute;
    top: 472px;
    left: 50%;
    transform: translateX(-50%);

    width: 288px;
    height: 48px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 139, 55, 1);

    /* Mobile / Button */

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 116%;
    /* or 16px */
    color: rgba(255, 255, 255, 1);
    outline: none;
    transition: all 250ms linear;
}

.functional_button:hover {
    background-color: rgba(255, 172, 112, 1);
}

.button_pressed {
    background-color: #e87928;
}

@media(min-width:768px) {
    .functional_button {
        top: 700px;
        width: 296px;
        height: 64px;
        border-radius: 12px;

        font-weight: 600;
        font-size: 20px;
    }
}

@media(min-width:1280px) {
    .functional_button {
        top: 50%;
        left: 65%;
        width: 296px;
        height: 64px;
        border-radius: 12px;

        font-weight: 600;
        font-size: 20px;
        cursor: pointer;
    }
}