.start_wraper {
    position: relative;
    height: 100vh;
}

.hand_gesture {
    position: absolute;
    top: 98px;
    left: 50%;
    transform: translateX(-50%);
    width: 197px;
    height: 155.5px
}

.title {
    position: absolute;
    width: 288px;
    height: 74px;
    left: 50%;
    transform: translateX(-50%);
    top: 296px;

    /* Mobile / Headline */

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 116%;
    /* or 37px */

    display: flex;
    align-items: center;
    text-align: center;

    /* Black-100 */

    color: #1C1C21;
    top: 288px;
}


@media(min-width:768px) {

    .hand_gesture {
        width: 451.61px;
        height: 356.59px;
    }

    .title {
        top: 50%;
        font-weight: 600;
        font-size: 56px;
        width: 440px;
    }
}